::placeholder { 
    color: rgb(196, 194, 194);
    opacity: 1;
  }

body {
    background-color: #484b53;
    overflow: hidden;
}

h1 {
    text-align: center;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

button {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#projectContainer {
    display: grid;
    border: 3px white;
    border-radius: 5px;
    width: auto;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-auto-flow: row;
    
}

#pageTitle {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#newProject {
    float: center;
    position: relative;
}

.projectDivs {
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: teal;
    width: 450px;
    height: 550px;
    box-shadow: 5px 5px 5px black;
}

.todoList {
    display: grid;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 450px;
    height: 150px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.projectTitles {
    background: transparent;
    color: white;
    resize: none;
    border: 0 none;
    outline: none;
    font-size: 1rem;
}

.listTitles {
    background: transparent;
    color: white;
    resize: none;
    border: 0 none;
    outline: none;
    font-size: 1rem;
}

.listDescs {
    background: transparent;
    color: white;
    resize: none;
    border: 0 none;
    outline: none;
    font-size: 1rem;
}

.priority {

}

.dltTask {

}